In [22]:
import MySQLdb
from mysqlman import MySQLMan

In [23]:
mysqlman = MySQLMan(connect=True, user="root", password="root", database="hbtn_0e_0_usa")

In [28]:
query = "SELECT id, name FROM states ORDER BY id;"

In [29]:
mysqlman.query(query)

[((1, 'California'),
  (2, 'Arizona'),
  (3, 'Texas'),
  (4, 'New York'),
  (5, 'Nevada'))]